body{
    padding: 20px;
    /*background-color: lightgray;*/
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

h1, h3, h6 {
    color:red;
    border: dashed greenyellow 2px
}

h2{
    color: blue;
    border: solid darkorchid 2px
}

p span{
    background-color: aqua;
}

.maClass1{
    background-color: aquamarine;
    font-style: italic;
    border-style: solid;
    border-color:brown;
    border-radius: 3%;
}

.maClass2{
    background-color: chartreuse;
    font-style: italic;
    border-style: dashed;
    border-color:rgb(6, 88, 121);
    border-radius: 3%;
}

#id1{
    background-color: rgb(182, 198, 252);
}

.classId1{
    background-color: rgb(252, 206, 242);
    font-style: italic;
}

.classId2{
    color: rgb(4, 72, 139);
    border-style: dotted;
}

.marginpading{
    border: solid red 2px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

a:link{
    color: red;
}

a:hover{
    color: blue;
}

a:visited{
    color: green;
}

a:active{
    color: yellowgreen;
}